*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 30px;
}
.img{
    margin-top: 20px;
    align-items: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.separador{
    width: 150px;
}
div{
    display: flex;
    
}
.target{
    margin-top: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
p{
    font-weight: bolder;
}
.fotos{
    border-radius: 10px;
    width: 180px;
    height: auto;
}
small{
    margin-top: 20px;
}